<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Ticket</title>
</head>

<body>
    <h1>Add New Ticket</h1>
    <form action="/add" method="POST">
        <label for="id_ve">Ticket ID:</label>
        <input type="text" id="id_ve" name="id_ve"><br>

        <label for="id_chuyen_tau">Train ID:</label>
        <input type="text" id="id_chuyen_tau" name="id_chuyen_tau"><br>

        <label for="id_nhan_vien">Employee ID:</label>
        <input type="text" id="id_nhan_vien" name="id_nhan_vien"><br>

        <label for="id_khach_hang">Customer ID:</label>
        <input type="text" id="id_khach_hang" name="id_khach_hang"><br>

        <label for="id_tru_so">Headquarters ID:</label>
        <input type="text" id="id_tru_so" name="id_tru_so"><br>

        <label for="gia_ve">Ticket Price:</label>
        <input type="text" id="gia_ve" name="gia_ve"><br>

        <label for="id_ghe">Seat ID:</label>
        <input type="text" id="id_ghe" name="id_ghe"><br>

        <input type="submit" value="Add Ticket">
    </form>
</body>

</html>