<!DOCTYPE html>
<html>

<head>
    <title>Danh sách trụ sở</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <h1>Danh sách trụ sở</h1>
    <table>

        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% truso.forEach((trusoItem, index)=> { %>
                <tr>
                    <td>
                        <%= trusoItem.id_tru_so %>
                    </td>
                    <td>
                        <%= trusoItem.dia_chi %>

                    <td><a href="/add?id_tru_so=<%= trusoItem.id_tru_so %>">Chọn</a></td>
                    </td>
                </tr>
                <% }); %>

        </tbody>

    </table>
    <h4><a href="/client">Tất cả khách hàng trong database</a></h4>

</body>

</html>